@font-face {
    font-family: 'Play';
    src: local('Play'), url('/public/font/Play.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Play';
    src: local('Play-Bold'), url('/public/font/Play-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

