::-webkit-scrollbar-track {
    background: #f2f2f2;
}

::-webkit-scrollbar-thumb {
    background: #c2c2c2;
}

::-webkit-scrollbar {
    width: 7px;
}

body {
    font-family: 'Play', sans-serif;
}

#chat-result {
    min-height: 250px;
    max-height: 250px;
    overflow-y: auto;
    margin: 5px;
}

.chat-block {
    padding: 5px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.chat-message {
    display: inline-block;
    margin: 1px 0;
    padding: 5px 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background-color: #f9f9f9;
    color: rgba(0, 0, 0, .5);
}

.chat-message.private {
    background-color: #ceffdc;
    border: 1px solid #ceffdc;
}

.user-name {
    display: block;
    font-size: 16px;
}

.user-name-chat {
    display: block;
    font-size: 14px;
}

.user-form {

}

.list-group.js-users-group {
    max-height: 500px;
    overflow-y: auto;
    border: 2px solid #afafaf;
}

.list-group-item {
    font-size: 14px;
    color: #6c757d;
    padding: 5px 10px;
}
.message-block {
    display: flex;
}
.message-block.out {
    justify-content: flex-end;
}

.out .chat-message {
    text-align: end;
    border: 1px solid #c6e1c9;
    background-color: #e9ffec;
}

.img-thumbnail {
    padding: 1px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 8%;
    height: auto;
    margin-right: 10px;
}

.chat-message span {
    font-size: 10px;
}
.user-block-message {
    font-size: 13px;
    line-height: 13px;
    font-style: italic;
}